<% provide(:title, 'Help') %>
<h1>Help</h1>
<p>
  En esta pagina puede realizar preguntas sobre cualquier tema.
  Luego podra recibir respuestas, aceptarlas, comentarlas y darles un voto.
  Para ver ejemplos de paginas similares, visite
  <a href="http://stackoverflow.com/">stackoverflow.com</a>.
</p>

