<div class="center hero-unit">
  <h1>Bienvenido a Cool Message Board</h1>

  <h2>
    Aqui podras encontrar la respuesta a todas tus preguntas.

  </h2>


    
</div>

<% if signed_in? %>




<% else %>

    

<div class="center">
 <iframe width="560" height="315" src="http://www.youtube.com/embed/NWHfY_lvKIQ" frameborder="0" allowfullscreen></iframe>
   <br>
    <br>
    <%= link_to "Sign up now!", sign_up_path, class: "btn btn-large btn-primary" %>
</div>

<% end %> 

<h3>Lista de Preguntas</h3>
    <%= render 'shared/feed' %>

