<%= form_for(@quest) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_area :content, placeholder: "Escriba una respuesta..." %>
  </div>
  <%= f.submit "Responder", class: "btn btn-large btn-primary" %>
<% end %>
