<footer class="footer">
  <small>
    Cool Message Board
    by <a href="https://twitter.com/Klaus_omgwtf">Jesus Osorio</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
</footer>
